<div class="nav-wrapper">
    <nav class="nav d-flex justify-between align-center mx-auto">
        <a href="index.html" class="logo text-gradient no-text-decoration">Collaborative IT</a>
        <ul class="nav-links d-flex list-style-none">
            <li><a href="#services" class="no-text-decoration fw-500">Services</a></li>
            <li><a href="#about" class="no-text-decoration fw-500">About</a></li>
            <li><a href="#contact" class="no-text-decoration fw-500">Contact</a></li>
        </ul>
    </nav>
</div>
