.about-container {
    grid-template-columns: 1fr 2fr;
    gap: 3rem;
    margin-top: 3rem;
}

.about-container img {
    max-width: 100%;
    border-radius: 12px;
    border: 1px solid var(--light-grey-border);
    content: url('/assets/images/logo.png'); 
    opacity: 0.8;
}

.about-content h3 {
    font-size: var(--font-size-5xl);
    color: var(--text-color);
    margin-bottom: 1rem;
}

.about-content p {
    font-size: var(--font-size-lg);
    color: var(--text-color-secondary);
    margin-bottom: 1.5rem;
    line-height: 1.7;
}